<h1><%= t("titles.questions.index") %></h1>

<ul class="filters <%= params.fetch(:filter, "all") %>">
  <li class="all">
    <%= link_to t("question.all_questions"), root_path %>
  </li>

  <li class="unanswered">
    <%= link_to t("question.unanswered_questions"),
      root_path(filter: "unanswered")
    %>
  </li>
</ul>

<%= render @questions %>
<%= paginate @questions %>

<% content_for :sidebar do %>
  <%= render "shared/sidebar/search" %>
  <%= render "shared/sidebar/categories" %>
  <%= render "shared/sidebar/recent_users" %>
<% end %>
