<h1><%= t("titles.questions.index") %></h1>

<ul class="filters all">
  <li class="all">
    <%= link_to t("question.all_questions") %>
  </li>

  <li class="unanswered">
    <%= link_to t("question.unanswered_questions") %>
  </li>
</ul>

<%= render @questions %>
<%= paginate @questions %>

<% content_for :sidebar do %>
  <%= render "shared/sidebar/search" %>
  <%= render "shared/sidebar/categories" %>
  <%= render "shared/sidebar/recent_users" %>
<% end %>
