<div class="question-details">
  <h1><%= @question.title %></h1>

  <%= simple_format strip_tags(@question.content)  %>

  <p class="about">
    <%= render "shared/record_meta", record: @question %>
  </p>
</div>

<%= render "answers", answers: @answers,
  answers_count: @question.answers_count %>

<% if logged_in? %>
  <%= render "answers/form", question: @question  %>
<% else %>
  <p class="disclaimer">
    <%= t("question.must_be_logged_to_answer_html", url:
      login_path(return_to: question_path(@question))) %>
  </p>
<% end %>
