<h1><%= t("titles.signup.new") %></h1>

<p>
  <%= t("signup.disclaimer_html", url: login_path) %>
</p>

<%= form_for @user, url: signup_path do |f| %>
  <%= render "shared/form_errors", record: @user %>

  <p>
    <%= f.label :name, t("form.labels.user.name") %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email, t("form.labels.user.email") %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password, t("form.labels.user.password") %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, t("form.labels.user.password_confirmation") %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p class="submit">
    <%= f.submit %>
    <%= link_to t("action.back"), root_path %>
  </p>
<% end %>
