<%= flash[:notice] %>
<%= flash[:alert] %>

<%= form_tag login_path do %>
  <p>
    <%= label_tag :email, t("form.labels.user.email") %>
    <%= email_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password, t("form.labels.user.password") %>
    <%= password_field_tag :password, params[:password] %>
  </p>

  <p>
    <%= submit_tag t("helpers.submit.login") %>
  </p>
<% end %>
