<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <title>Hackerforum</title>
    <%= stylesheet_link_tag "site", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "shared/main_header" %>
    <%= render "shared/flash_messages" %>

    <div class="content">
      <section class="main">
        <%= yield %>
      </section>

      <aside class="sidebar">
        <%= yield :sidebar %>
      </aside>
    </div>
  </body>
</html>
